@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@300&display=swap');
*{
    font-family: 'Alata', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 0;
    margin: 0;
}
.banner{
    margin: 10px auto;
}
.nssls-19{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nssls-19 img{
    width: 75%;
}
